{% extends 'layout/base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Leads Search</h2>
    <form method="POST" class="mb-4">
        {% csrf_token %}
        <div class="input-group">
            <input type="text" class="form-control form-control-lg" name="query" placeholder="Enter the lead's name or phone number" required>
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>

    {% if leads_with_shows %}
    <h4>Search Results:</h4>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Lead Name</th>
                <th>Show</th>
                <th>Agent</th>
            </tr>
        </thead>
        <tbody>
            {% for lead, show in leads_with_shows %}
            <tr>
                <td>{{ lead.name }}</td>
                <td>
                    <a href="{% url 'sales_team_leader:show-detail' show.id %}" class="btn btn-primary">
                        {{ show.name }}
                    </a>
                </td>
                <td>{{ show.Agent.username }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="text-center">No leads found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="text-muted">No search results to display. Please enter the lead name.</p>
    {% endif %}

</div>
{% endblock %}