<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
          <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\Administrator\AppData\Local\Programs\Python\Python312\python.exe|C:\Users\Administrator\AppData\Local\Programs\Python\Python312\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
        <directoryBrowse enabled="true" />
    <webSocket enabled="true" />
    <proxy preserveHostHeader="true" preserveDateHeader="false" />

    <!-- Add the requestFiltering section to increase the maxAllowedContentLength (in bytes) -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800" /> <!-- 50 MB -->
      </requestFiltering>
    </security>
        <httpErrors errorMode="DetailedLocalOnly" />

  </system.webServer>

  <system.web>
    <!-- Increase script timeout to handle long-running requests -->
    <httpRuntime maxRequestLength="51200" executionTimeout="600" />   <!-- 10 minutes -->
  </system.web>

  <appSettings>
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\IBH-Genie" />
    <add key="WSGI_HANDLER" value="IBH.wsgi.application" />
    <add key="DJANGO_SETTINGS_MODULE" value="IBH.settings" />
    <add key="PYTHONHOME" value="C:\Users\Administrator\AppData\Local\Programs\Python\Python312" />
  </appSettings>
</configuration>