<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    {% if request.user.is_authenticated %}
    {% with request.user.groups.first as user_group %}
    {% if user_group and user_group.name == 'administrator' %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'administrator:administrator_index' %}">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'administrator:view-logs' %}">
        <i class="bi bi-card-list"></i>
        <span>View logs</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-person-lines-fill"></i><span>Users</span>
        <i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'administrator:add-user' %}">
            <i class="bi bi-circle"></i><span>Add user</span>
          </a>
        </li>
        <li>
          <a href="{% url 'administrator:manage-users' %}">
            <i class="bi bi-circle"></i><span>Manage users</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'administrator:manage-sheets' %}">
        <i class="bi bi-card-list"></i><span>Ready Shows</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'administrator:sheets-done' %}">
        <i class="bi bi-card-list"></i><span>Done Shows</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'administrator:archived-sheets' %}">
        <i class="bi bi-card-list"></i><span>Archived Shows</span>
      </a>
    </li>
    {% endif %}
    {% endwith %}
    {% endif %}

    {% if request.user.is_authenticated %}
    {% with request.user.groups.first as user_group %}
    {% if user_group and user_group.name == 'operations_team_leader' %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'operations_team_leader:index' %}">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-person-lines-fill"></i><span>Leads</span>
        <i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'operations_team_leader:add-lead' %}">
            <i class="bi bi-circle"></i><span>Add Lead</span>
          </a>
        </li>
        <li>
          <a href="{% url 'operations_team_leader:auto-fill' %}">
            <i class="bi bi-circle"></i><span>Auto fill</span>
          </a>
        </li>
        <li>
          <a href="{% url 'operations_team_leader:upload-sheet' %}">
            <i class="bi bi-circle"></i><span>Upload Sheet</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'operations_team_leader:leads-average' %}">
        <i class="bi bi-card-list"></i><span>Leads Average</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'operations_team_leader:manage-filter-words' %}">
        <i class="bi bi-shield"></i><span>Black List</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'operations_team_leader:notifications' %}">
        <i class="bi bi-bell"></i><span>Notifications</span>
      </a>
    </li>
    {% endif %}
    {% endwith %}
    {% endif %}

    {% if request.user.is_authenticated %}
    {% with request.user.groups.first as user_group %}
    {% if user_group and user_group.name == 'leads' %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'leads:leads_index' %}">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-person-lines-fill"></i><span>Leads</span>
        <i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'leads:auto-fill' %}">
            <i class="bi bi-circle"></i><span>Auto fill</span>
          </a>
        </li>
        <li>
          <a href="{% url 'leads:upload-sheet' %}">
            <i class="bi bi-circle"></i><span>Upload Sheet</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'leads:leads-average' %}">
        <i class="bi bi-card-list"></i><span>Leads Average</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'leads:notifications' %}">
        <i class="bi bi-bell"></i><span>Notifications</span>
      </a>
    </li>
    {% endif %}
    {% endwith %}
    {% endif %}

    {% if request.user.is_authenticated %}
    {% with request.user.groups.first as user_group %}
    {% if user_group and user_group.name == 'sales_team_leader' %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'sales_team_leader:index' %}">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-person-lines-fill"></i><span>Ready Shows</span>
        <i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'sales_team_leader:assigned-shows' %}">
            <i class="bi bi-circle"></i><span>New</span>
          </a>
        </li>
        <li>
          <a href="{% url 'sales_team_leader:view-done-shows' %}">
            <i class="bi bi-circle"></i><span>Done</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'sales_team_leader:view-team-shows' %}">
        <i class="bi bi-people"></i><span>Team shows</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav-2" data-bs-toggle="collapse" href="#">
        <i class="bi bi-recycle"></i><span>Recycled Shows</span>
        <i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav-2" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'sales_team_leader:view-recycled-shows' %}">
            <i class="bi bi-circle"></i><span>New</span>
          </a>
        </li>
        <li></li>
        <a href="{% url 'sales_team_leader:view-done-recycled-shows' %}">
          <i class="bi bi-circle"></i><span>Done</span>
        </a>
      </ul>
    </li>


    <li class="nav-item">
      <a class="nav-link" href="{% url 'sales_team_leader:view-team-recycled' %}">
        <i class="bi bi-recycle"></i><span>Recycled Shows - Team</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{% url 'sales_team_leader:view-saved-leads' %}">
        <i class="bi bi-bookmark"></i><span>Prospect</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'sales_team_leader:view-team-prospect' %}">
        <i class="bi bi-bookmark"></i><span>Team Prospect</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'sales_team_leader:search' %}">
        <i class="bi bi-search"></i><span>Search</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'sales_team_leader:sales-logs' %}">
        <i class="bi bi-grid"></i><span>Activity Logs</span>
      </a>
    </li>
    {% endif %}
    {% endwith %}
    {% endif %}

    {% if request.user.is_authenticated %}
    {% with request.user.groups.first as user_group %}
    {% if user_group and user_group.name == 'sales_manager' %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'sales_manager:index' %}">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'sales_manager:leads-inventory' %}">
        <i class="bi bi-search"></i><span>Leads Inventory</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'sales_manager:manage-sales-teams' %}">
        <i class="bi bi-people-fill"></i><span>Manage teams</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-person-lines-fill"></i><span>Ready Shows</span>
        <i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'sales_manager:assigned-shows' %}">
            <i class="bi bi-circle"></i><span>New</span>
          </a>
        </li>
        <li>
          <a href="{% url 'sales_manager:view-done-shows' %}">
            <i class="bi bi-circle"></i><span>Done</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'sales_manager:view-teams-shows' %}">
        <i class="bi bi-people"></i><span>Teams shows</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav-2" data-bs-toggle="collapse" href="#">
        <i class="bi bi-person-lines-fill"></i><span>Recycled Shows</span>
        <i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav-2" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'sales_manager:view-recycled-shows' %}">
            <i class="bi bi-circle"></i><span>New</span>
          </a>
        </li>
        <li></li>
        <a href="{% url 'sales_manager:view-done-recycled-shows' %}">
          <i class="bi bi-circle"></i><span>Done</span>
        </a>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'sales_manager:view-teams-shows-recycled' %}">
        <i class="bi bi-recycle"></i><span>Recycled Shows - Teams</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{% url 'sales_manager:view-saved-leads' %}">
        <i class="bi bi-bookmark"></i><span>Prospect</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{% url 'sales_manager:view-teams-prospect' %}">
        <i class="bi bi-bookmark"></i><span>Teams prospect</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'sales_manager:manage-referrals' %}">
        <i class="bi bi-flag"></i><span>Referrals Sheet</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'sales_manager:search' %}">
        <i class="bi bi-search"></i><span>Search</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'sales_manager:sales-logs' %}">
        <i class="bi bi-grid"></i><span>Activity Logs</span>
      </a>
    </li>
    {% endif %}
    {% endwith %}
    {% endif %}

    {% if request.user.is_authenticated %}
    {% with request.user.groups.first as user_group %}
    {% if user_group and user_group.name == 'sales' %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'sales:index' %}">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-person-lines-fill"></i><span>Ready Shows</span>
        <i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'sales:assigned-shows' %}">
            <i class="bi bi-circle"></i><span>New</span>
          </a>
        </li>
        <li></li>
        <a href="{% url 'sales:view-done-shows' %}">
          <i class="bi bi-circle"></i><span>Done</span>
        </a>
    </li>
  </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" data-bs-target="#components-nav-2" data-bs-toggle="collapse" href="#">
      <i class="bi bi-person-lines-fill"></i><span>Recycled Shows</span>
      <i class="bi bi-chevron-down ms-auto"></i>
    </a>
    <ul id="components-nav-2" class="nav-content collapse" data-bs-parent="#sidebar-nav">
      <li>
        <a href="{% url 'sales:view-recycled-shows' %}">
          <i class="bi bi-circle"></i><span>New</span>
        </a>
      </li>
      <li></li>
      <a href="{% url 'sales:view-done-recycled-shows' %}">
        <i class="bi bi-circle"></i><span>Done</span>
      </a>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'sales:view_saved_leads' %}">
      <i class="bi bi-bookmark"></i><span>Prospect</span>
    </a>
  </li>
  {% endif %}
  {% endwith %}
  {% endif %}

  {% if request.user.is_authenticated %}
  {% with request.user.groups.first as user_group %}
  {% if user_group and user_group.name == 'operations_manager' %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'operations_manager:index' %}">
      <i class="bi bi-grid"></i>
      <span>Dashboard</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'operations_manager:manage-referrals' %}">
      <i class="bi bi-flag"></i><span>Referrals Sheet</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'operations_manager:price-requests' %}">
      <i class="bi bi-bookmark"></i><span>Price Requests</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'operations_manager:manage-filter-words' %}">
      <i class="bi bi-shield"></i><span>Black List</span>
    </a>
  </li>

  <!-- Dropdown for Ready Shows -->
  <li class="nav-item">
    <a class="nav-link collapsed" data-bs-target="#ready-shows-nav" data-bs-toggle="collapse" href="#">
      <i class="bi bi-card-list"></i><span>Ready Shows</span>
      <i class="bi bi-chevron-down ms-auto"></i>
    </a>
    <ul id="ready-shows-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
      <li>
        <a href="{% url 'operations_manager:ready-shows' %}">
          <i class="bi bi-circle"></i><span>New Shows</span>
        </a>
      </li>
      <li>
        <a href="{% url 'operations_manager:done-ready-shows' %}">
          <i class="bi bi-circle"></i><span>Done Shows</span>
        </a>
      </li>
    </ul>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="{% url 'operations_manager:archived-sheets' %}">
      <i class="bi bi-card-list"></i><span>Archived Ready Shows</span>
    </a>
  </li>

  <!-- Dropdown for Sales Shows -->
  <li class="nav-item">
    <a class="nav-link collapsed" data-bs-target="#sales-shows-nav" data-bs-toggle="collapse" href="#">
      <i class="bi bi-card-list"></i><span>Sales Shows</span>
      <i class="bi bi-chevron-down ms-auto"></i>
    </a>
    <ul id="sales-shows-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
      <li>
        <a href="{% url 'operations_manager:unassigned-sales-shows' %}">
          <i class="bi bi-circle"></i><span>Unassigned Shows</span>
        </a>
      </li>
      <li>
        <a href="{% url 'operations_manager:assigned-sales-shows' %}">
          <i class="bi bi-circle"></i><span>Assigned Shows</span>
        </a>
      </li>
    </ul>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="{% url 'operations_manager:archived-sales-shows' %}">
      <i class="bi bi-card-list"></i><span>Archived Sales Shows</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'operations_manager:view-sales-agents' %}">
      <i class="bi bi-recycle"></i><span>Recycling</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'operations_manager:manage-leads-teams' %}">
      <i class="bi bi-people"></i><span>Manage teams</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
      <i class="bi bi-person-lines-fill"></i><span>Leads</span>
      <i class="bi bi-chevron-down ms-auto"></i>
    </a>
    <ul id="components-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
      <li>
        <a href="{% url 'operations_manager:add-lead' %}">
          <i class="bi bi-circle"></i><span>Add Lead</span>
        </a>
      </li>
      <li>
        <a href="{% url 'operations_manager:auto-fill' %}">
          <i class="bi bi-circle"></i><span>Auto fill</span>
        </a>
      </li>
      <li>
        <a href="{% url 'operations_manager:upload-sheet' %}">
          <i class="bi bi-circle"></i><span>Upload Sheet</span>
        </a>
      </li>
    </ul>
    {% endif %}
    {% endwith %}
    {% endif %}

  <li class="nav-item">
    <a class="nav-link" href="{% url 'main:logout' %}">
      <i class="bi bi-box-arrow-left"></i>
      <span>Logout</span>
    </a>
  </li>
  </ul>
</aside>